@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Cormorant Garamond", serif;
  
  --color-brand-bg: #F7F9F4;
  --color-brand-olive: #5A5A40;
  --color-brand-cream: #f5f5f0;
  --color-brand-sos: #FFEBEE;
  --color-brand-sos-text: #D32F2F;
}

@layer base {
  body {
    @apply bg-brand-bg text-slate-900 font-sans;
  }
  
  h1, h2, h3, h4 {
    @apply font-serif;
  }
}

